[submodule "public"]
	path = public
	url = https://github.com/siddharthvij/siddharthvij.github.io.git
[submodule "public2"]
	path = public2
	url = https://github.com/siddharthvij/siddharthvij.github.io.git
